#sigesescont {
    background: gray;
    width: 700px;
    height: 700px;
    padding: 1px;
    border: 2px rgb(248, 158, 94) solid;
    position: relative;
}

main {
    background-color: rgba(129, 129, 129, 0.432);
    border: 10px solid rgba(129, 129, 129, 0.432);
    border-radius: 10px;
}
.input {
    padding: 5px;
    background-color: aliceblue; 
    border: 0.5px solid aliceblue!important; 
}

input:focus, input[type]:focus{
    border: 0.5px solid orange!important;
    box-shadow: 0 1px 1px rgba(255, 165, 0, 0.6)inset, 0 0 1px rgba(255, 166, 0, 0.6);
    outline: 0 none;
}

.form-center {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 5px;
    padding: 5px;
}

.update {
    width: 100% !important;
    height: 80vh !important;
    background-color: rgb(255, 255, 255);
}

.update-d {
    width: 100% !important;
    height: 77vh !important;
    background-color: rgb(255, 255, 255);
    
}

.extension {
    width: 100% !important;
}
.table {
    --bs-table-hover-color: var(--bs-light) !important;
    --bs-table-hover-bg: var(--bs-light) !important;
}
.limited {
    max-width: 100%; /*350px; */
    max-height:100%; /* 225px; */
}